{% extends 'beds/base.html'%}

{% block content%}
    <form class="form-inline" action="{% url 'beds:voyage' page_number %}" method="GET">
        {% csrf_token %}
        <div style="display: flex; justify-content: space-evenly;">
            {% if page_number != 0%}
            <button class="btn waves-effect waves-light blue darken-3" type="submit" name="previous">Previous
                <i class="material-icons right">arrow_back</i>
            </button>
            {% endif %}
            <button class="btn waves-effect waves-light blue darken-3 float-right" type="submit" name="next">Next
                <i class="material-icons right">arrow_forward</i>
            </button>
        </div>
    </form>
    {% for home in home_list%}
    <div class="card" style="padding: 1 1 1 1;">
        <div class="container">
            <div class="card-header">
                <p class="text-muted">{{home.2}}</p>
              </div>
            <div class="card-body ">
            <h4 class="card-title" id="name">Name: <strong>{{home.1}}</strong></strong></h5>
            <p class="card-text">Bed Vacancies: <strong>{{home.0}}</strong></p>
            <form action="{% url 'beds:add_bed' home.8 %}" method="GET">
                {% csrf_token%}
                <div class="row">
                    <div class="col">
                        <p>Residential {{home.4}}: </p>
                    </div>
                    <div class="col">
                        {% if home.4 == 0%}
                        {% else%}
                        <button class="btn waves-effect waves-light  red darken-2" type="submit" name="remove">Remove
                            <i class="material-icons right">remove</i>
                        </button>
                        {% endif %}
                        {% if home.0 == 0 or home.0 == None or home.0 == null%}
                        {% else %}
                        <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action">Add
                            <i class="material-icons right">add</i>
                        </button>
    
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Residential Dementia {{home.5}}: </p>
                    </div>
                    <div class="col">
                        {% if home.5 == 0%}
                        {% else%}
                        <button class="btn waves-effect waves-light  red darken-2" type="submit" name="action">Remove
                            <i class="material-icons right">remove</i>
                        </button>
                        {% endif %}
                        {% if home.0 == 0 or home.0 == None or home.0 == null%}
                        {% else %}
                        <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action">Add
                            <i class="material-icons right">add</i>
                        </button>
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Nursing {{home.6}}: </p>
                    </div>
                    <div class="col">
                        {% if home.6 == 0%}
                        {% else%}
                        <button class="btn waves-effect waves-light  red darken-2" type="submit" name="action">Remove
                            <i class="material-icons right">remove</i>
                        </button>
                        {% endif %}
                        {% if home.0 == 0 or home.0 == None or home.0 == null%}
                        {% else %}
                        <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action">Add
                            <i class="material-icons right">add</i>
                        </button>
    
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>Nursing Dementia {{home.7}}: </p>
                    </div>
                    <div class="col">
                        {% if home.7 == 0%}
                        {% else%}
                        <button class="btn waves-effect waves-light  red darken-2" type="submit" name="action">Remove
                            <i class="material-icons right">remove</i>
                        </button>
                        {% endif %}
                        {% if home.0 == 0 or home.0 == None or home.0 == null%}
                        {% else %}
                        <button class="btn waves-effect waves-light blue darken-3" type="submit" name="action">Add
                            <i class="material-icons right">add</i>
                        </button>
    
                        {% endif %}
                    </div>
                </div>
            </form>
            </div> 
        </div> 
    </div>
    {% endfor %}
{% endblock content%}